@import 'tailwindcss/preflight';
@import 'tailwindcss/theme';
@import 'tailwindcss/utilities';

@theme {
  /* Backgrounds khusus */
  --color-background-slate: #0f172a; /* slate-900 */
  --color-background: #0a0a0a; /* slate-800 */

  /* Foreground */
  --color-foreground: #f8fafc;

  /* Warna utama */
  --color-primary: #2563eb;
  --color-primary-light: #3b82f6;
  --color-primary-dark: #1e40af;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-wave {
  animation: wave 8s linear infinite;
}

body {
  @apply bg-background text-foreground font-sans;
}
